.list{

  &__add-button{
    color: #767676;
    opacity: .6;
    &:hover{
      opacity: 1;
    }
  }

  &__remove-icon{
    opacity: 0;
  }

  li{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-bottom: 5px;
    cursor: pointer;

    span{
      flex: 1;
    }

    &:hover{
      background: #fff;
      .list__remove-icon{
        opacity: 1;
      }
    }

    &.active{
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    i{
      display: inline-flex;
      margin-right: 8px;
    }
  }
}
